@charset "UTF-8";
.boxes {
    
    margin-top: 50px;
    
  }

.boxes span {
    color: #3EA1D1;
    border-bottom: 1px solid #3EA1D1;
}
  
.boxes label {
    width: 280px;
    margin: auto;
}

  /*Checkboxes styles*/
  input[type="checkbox"] { display: none; }
  
  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;       
  }

  
  
  input[type="checkbox"] + label:last-child { margin-bottom: 0; }
  
  input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 4px;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  