@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

span.is-red {
  color: #E7728E;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.section-title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 96px;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  background: #3EA1D1;
  width: 60px;
  height: 2px;
}

.section-button {
  text-align: center;
  margin-top: 60px;
}

.section-button a {
  display: inline-block;
  line-height: 46px;
  height: 46px;
  width: 150px;
  border: solid 1px #3EA1D1;
  color: #3EA1D1;
  font-size: 14px;
}

.section-button a:hover {
  color: white;
  background-color: #3EA1D1;
}

@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (max-width: 767px) {
  .drawer-navbar .drawer-hamburger {
    z-index: 103;
  }
}

@media (min-width: 64em) {
  .drawer-navbar .drawer-hamburger {
    display: none;
  }
}

.drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 16px;
}

.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  margin-bottom: 70px;
  width: 100%;
  margin: 0;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

@media (max-width: 767px) {
  .header-inner {
    display: block;
  }
}

.header-logo {
  width: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .header-logo {
    margin: 0;
  }
}

.header-nav {
  margin-left: auto;
  height: 70px;
}

@media (max-width: 767px) {
  .header-nav {
    height: 100%;
    margin: 0;
    z-index: 101;
  }
}

.header-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-lists {
    display: block;
  }
}

.header-list + .header-list {
  margin-left: 46px;
}

@media (max-width: 767px) {
  .header-list + .header-list {
    margin-left: 0;
  }
}

.header-list a:hover {
  color: #3EA1D1;
}

.main-visual {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-bottom: 200px;
  }
}

@media (max-width: 767px) {
  .main-visual-inner {
    padding: 0 16px;
  }
}

.main-visual-items {
  position: relative;
  height: 660px;
}

@media (max-width: 767px) {
  .main-visual-items {
    height: 400px;
    position: static;
  }
}

.main-visual-top {
  height: inherit;
  background: url(../image/top@2x.png) no-repeat top 0 right 0/82%;
  max-width: 100%;
}

@media (max-width: 767px) {
  .main-visual-top {
    background: url(../image/top@2x.png) no-repeat top 0 right 0/cover;
  }
}

.main-visual-texts {
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 330px;
  height: 200px;
}

@media (max-width: 767px) {
  .main-visual-texts {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: block;
    margin-top: 40px;
    width: auto;
    height: auto;
  }
}

.main-visual-title {
  font-size: 24px;
  width: 156px;
}

@media (max-width: 767px) {
  .main-visual-title {
    width: auto;
    display: block;
  }
}

.main-visual-text {
  font-size: 16px;
  width: 290px;
}

@media (max-width: 767px) {
  .main-visual-text {
    display: block;
    width: auto;
  }
}

.concept {
  margin-bottom: 160px;
}

@media (max-width: 767px) {
  .concept {
    margin-bottom: 95px;
  }
}

.concept-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .concept-items {
    display: block;
  }
}

.concept-left {
  width: calc(50% - 25px);
}

.concept-left img {
  height: 350px;
  width: 100%;
}

@media (max-width: 767px) {
  .concept-left {
    width: 100%;
  }
}

.concept-right {
  width: calc(50% - 25px);
  margin-left: 50px;
}

@media (max-width: 767px) {
  .concept-right {
    margin-left: 0px;
    width: auto;
  }
}

.concept-copy {
  margin-top: 100px;
  font-size: 20px;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .concept-copy {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.feature {
  margin-bottom: 160px;
}

@media (max-width: 767px) {
  .feature {
    margin-bottom: 95px;
  }
}

.feature-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-contents p {
  text-align: center;
}

@media (max-width: 767px) {
  .feature-contents {
    display: block;
  }
  .feature-contents p {
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 0;
  }
}

.feature-item-left {
  width: calc(33.3% - 40px);
  -webkit-box-shadow: 3px 3px 15px #60606029;
          box-shadow: 3px 3px 15px #60606029;
}

@media (max-width: 767px) {
  .feature-item-left {
    margin: 0 auto;
    width: 100%;
    max-width: 340px;
  }
}

.feature-item-center {
  width: calc(33.3% - 40px);
  margin-left: 60px;
  -webkit-box-shadow: 3px 3px 15px #60606029;
          box-shadow: 3px 3px 15px #60606029;
}

@media (max-width: 767px) {
  .feature-item-center {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 340px;
  }
}

.feature-item-right {
  width: calc(33.3% - 40px);
  margin-left: 60px;
  -webkit-box-shadow: 3px 3px 15px #60606029;
          box-shadow: 3px 3px 15px #60606029;
}

@media (max-width: 767px) {
  .feature-item-right {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 340px;
  }
}

.promotion {
  margin-bottom: 140px;
}

.promotion-bg-image {
  height: 400px;
  background: url(../image/bg@2x.png) no-repeat center center/cover;
  position: relative;
}

@media (max-width: 767px) {
  .promotion-bg-image {
    height: 500px;
    width: 100%;
    background: url(../image/SP/bg@2x.png) center center/cover;
    padding: 176px 0 52px;
  }
}

.promotion-bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.promotion-content {
  position: absolute;
  left: 40px;
  top: 120px;
  color: #fff;
}

@media (max-width: 767px) {
  .promotion-content {
    top: 180px;
    left: 15px;
  }
}

.promotion-title {
  font-size: 22px;
  font-weight: 700;
}

.products {
  margin-bottom: 140px;
}

@media (max-width: 767px) {
  .products {
    max-width: 340px;
    padding: 0 58px;
    margin: 0 auto;
    margin-bottom: 140px;
  }
}

.products-inner {
  max-width: 900px;
}

@media (max-width: 767px) {
  .products-inner {
    width: 100%;
  }
}

.products-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .products-items {
    display: block;
  }
}

.products-item {
  width: calc(33.3% - 40px);
}

@media (max-width: 767px) {
  .products-item {
    margin: 0;
    width: 100%;
  }
}

.products-item:not(:first-child) {
  margin-left: 60px;
}

@media (max-width: 767px) {
  .products-item:not(:first-child) {
    margin-top: 30px;
    margin-left: 0px;
  }
}

.products-image {
  width: 260px;
  height: 260px;
}

@media (max-width: 767px) {
  .products-image {
    width: 100%;
    height: auto;
  }
}

.products-text {
  font-size: 14px;
}

.products-price {
  padding-top: 14px;
  color: #989898;
}

.news {
  margin-bottom: 160px;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 24px;
}

.news-item:not(:first-child) {
  margin-top: 45px;
}

@media (max-width: 767px) {
  .news-item {
    display: block;
  }
}

.news-image {
  width: 260px;
}

@media (max-width: 767px) {
  .news-image {
    width: 100%;
  }
}

.news-blog {
  padding-left: 40px;
  margin: 0;
}

@media (max-width: 767px) {
  .news-blog {
    padding-left: 0;
  }
}

.news-day {
  font-size: 14px;
  margin: 0;
}

.news-sub-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-top: 16px;
}

.news-text {
  color: #888888;
  line-height: 24 / 14;
}

.promotion-second {
  margin-bottom: 140px;
}

.promotion-second-inner {
  padding: 0 40px;
  width: 100%;
}

.promotion-second-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .promotion-second-content {
    display: block;
  }
}

.promotion-second-left {
  width: calc();
}

.promotion-second-title {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .promotion-second-title {
    margin-top: 40px;
    font-size: 20px;
  }
}

.promotion-second-right {
  margin-left: 80px;
  width: 600px;
  height: 400px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 767px) {
  .promotion-second-right {
    margin-left: 0;
    width: 100%;
    height: 230px;
  }
}

.promotion-second-image {
  width: inherit;
  height: inherit;
}

.contact {
  background: url(../image/contact@2x.png) no-repeat center center/cover;
  padding: 80px 0;
  width: 100%;
}

.contact-title {
  color: #3EA1D1;
}

@media (max-width: 767px) {
  .contact-title {
    margin-bottom: 50px;
  }
}

.contact-attention {
  text-align: center;
  font-size: 14px;
}

.contact-attention span.is-red {
  color: #E7728E;
}

@media (max-width: 767px) {
  .contact-attention {
    display: block;
  }
}

.contact-form {
  margin-top: 24px;
}

@media (max-width: 767px) {
  .contact-form {
    margin-top: 50px;
    padding: 0 28px;
  }
}

.contact-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .contact-form-row {
    display: block;
    width: 100%;
  }
}

.contact-form-row:not(:first-child) {
  margin-top: 32px;
}

.contact-form-label {
  width: 180px;
  height: 40px;
  padding: 5px 0 0;
  margin: 0;
  background-color: #3EA1D1B3;
  color: #fff;
  font-size: 18px;
  text-align: center;
  max-height: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .contact-form-label {
    width: 140px;
  }
}

.contact-form-label span {
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}

.contact-form-label::after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 8px;
  border-color: transparent transparent transparent #3EA1D1B3;
  top: 0;
  right: -8px;
}

.contact-form-input {
  width: calc(100% - 180px);
  margin-left: 18px;
}

@media (max-width: 767px) {
  .contact-form-input {
    margin-left: 0;
    width: 320px;
  }
}

.contact-form-input [type="text"],
.contact-form-input [type="email"],
.contact-form-input textarea {
  font-size: 16px;
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 5px 6px 15px #60606029;
          box-shadow: 5px 6px 15px #60606029;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .contact-form-input [type="text"],
  .contact-form-input [type="email"],
  .contact-form-input textarea {
    margin-left: 0;
  }
}

.contact-form-input [type="text"] {
  width: 100%;
  height: 40px;
}

.contact-form-input [type="email"] {
  width: 100%;
  height: 40px;
}

.contact-form-input textarea {
  width: 100%;
  height: 120px;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  padding: 10px 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: inherit;
  font-family: inherit;
  resize: none;
}

.contact-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .contact-form-wrap {
    margin-left: 0;
  }
}

.contact-form-wrap [type="radio"] {
  display: none;
}

.contact-form-wrap span {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3EA1D1;
  background: white;
  position: relative;
}

.contact-form-wrap [type="radio"]:checked + span {
  color: white;
  background: #3EA1D1;
}

.contact-from-button {
  text-align: center;
  margin-top: 60px;
}

.contact-from-button [type="submit"] {
  display: inline-block;
  border: 1px solid #3EA1D1;
  font-size: 14px;
  width: 137px;
  height: 46px;
  background: #3EA1D1;
  color: white;
}

.contact-from-button [disabled] {
  background-color: #fff;
  color: #3EA1D1;
  cursor: not-allowed;
}

.end-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.false-message {
  text-align: center;
  margin-top: 60px;
  color: #f00;
  display: none;
}

.footer {
  background: #F7F7F7;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-title {
  width: 120px;
  margin: 0 auto;
}

.footer-text {
  margin-top: 18px;
  text-align: center;
}

.footer-text a:hover {
  opacity: 0.7;
}

.footer-text span {
  font-size: 12px;
}

.footer-text-right {
  margin-left: 12px;
}

.footer-icon {
  margin-top: 30px;
  width: 100%;
}

.footer-icon a:hover {
  opacity: 0.7;
}

.footer-nav-list {
  text-align: center;
}

.footer-nav-item {
  display: inline-block;
}

.footer-nav-item + .footer-nav-item {
  margin-left: 10px;
}

.footer-nav-item-link {
  color: #3EA1D1;
  font-size: 24px;
  display: block;
  padding: .1em .5em;
}

.footer-copyright {
  color: #888;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
